## Python 基本数据类型
### List
### Tuple
### Dict

In [1]:
print('Welcome to CV203!')

Welcome to CV203!

In [1]:
# print("Welcome to CV203!")
print("Welcome to Computer Vision C203!")

Welcome to Computer Vision C203!

In [2]:
a = 3
b = 4
c = a + b
print(c)
print(type(c))

7
<class 'int'>

In [3]:
print(a)

3

In [4]:
a = 3.
b = 4.
c = a + b
print(c)
print(type(c))

7.0
<class 'float'>

### List 字面意思就是一个集合，在Python中List中的元素用中括号[ ]来表示

In [5]:
L = [12, 'China', 19.998]
print(L)
print(type(L))

[12, 'China', 19.998]
<class 'list'>

In [6]:
L = []
print(L)

[]

In [7]:
L = [12, 'China', 19.998]
print(L[0])
print(L[1])
print(L[2])

12
China
19.998

In [8]:
print(L[3])

IndexError: list index out of range

In [10]:
print(L[-1])

19.998

In [11]:
print(L[-3])

12

In [12]:
print([L]*3)

[[12, 'China', 19.998], [12, 'China', 19.998], [12, 'China', 19.998]]

In [13]:
L = [12, 'China', 19.998]
print(L)
L.append('Jack')
print(L)
print(L[3])

[12, 'China', 19.998]
[12, 'China', 19.998, 'Jack']
Jack

In [14]:
L.pop()
print(L)

[12, 'China', 19.998]

In [15]:
L[1] = 1
print(L)

[12, 1, 19.998]

In [16]:
print(L[1:3])

[1, 19.998]

In [17]:
myName = 'David'
print(type(myName))

<class 'str'>

In [18]:
myName[0] = 'X'

TypeError: 'str' object does not support item assignment

### Tuple 可以看做是一种“不变”的List，访问也是通过下标，用小括号（）表示

In [19]:
t = (3.14, 'China', 'Jason')
print(t)

(3.14, 'China', 'Jason')

In [20]:
t[1] = 'America'

TypeError: 'tuple' object does not support item assignment

In [21]:
t = ()
print(t)

()

In [22]:
t = (3.14, )
print(t)

(3.14,)

In [23]:
a = [1,2,3,4]
print(a.insert(0,8))
print(a)

None
[8, 1, 2, 3, 4]

### Dict 是Python中非常重要的数据类型，就像它的字面意思一样，它是个活字典，其实就是Key-Value键值对，可以用花括号{ }定义

In [24]:
d = {
    'Adam': 95,
    'Lisa': 85,
    'Bart': 59,
    'Paul': 75
}
print(d)

{'Adam': 95, 'Lisa': 85, 'Bart': 59, 'Paul': 75}

In [25]:
len(d)

4

In [26]:
print(d)
d['Jone'] = 59
print(d)

{'Adam': 95, 'Lisa': 85, 'Bart': 59, 'Paul': 75}
{'Adam': 95, 'Lisa': 85, 'Bart': 59, 'Paul': 75, 'Jone': 59}

In [27]:
print(d['Adam'])

95

In [28]:
d['Jack'] = 80
print(d)

{'Adam': 95, 'Lisa': 85, 'Bart': 59, 'Paul': 75, 'Jone': 59, 'Jack': 80}

In [29]:
d[0] = 'PKU'
print(d)

{'Adam': 95, 'Lisa': 85, 'Bart': 59, 'Paul': 75, 'Jone': 59, 'Jack': 80, 0: 'PKU'}

In [30]:
d['0']

KeyError: '0'

In [31]:
if 'Adam' in d : 
    print('exist key')
else:
    print('No')

exist key

In [32]:
print(d.get('Adam'))

95

In [33]:
print(d.get('Jack'))

80

In [34]:
for key in d:
    print(key, ':', d.get(key))

Adam : 95
Lisa : 85
Bart : 59
Paul : 75
Jone : 59
Jack : 80
0 : PKU

## 测试

In [35]:
a = 3

print(a)

def myfun(x):
    x = x + 1
    return x

a = myfun(a)
print(a)

3
4

In [36]:
a = 3

print(a)

def myfun(x):
    x = x + 1

myfun(a)
print(a)

3
3

In [37]:
a = 3

def myfun(x):
    x = 1

myfun(a)
print(a)

3

In [38]:
a = [3, 4]
print(a)

def myfun(x):
    x[0] = 1

myfun(a)
print(a)

[3, 4]
[1, 4]

In [39]:
a = {'0':3, '1': 5}

print(a)

{'0': 3, '1': 5}

In [40]:
   
def myfun(x):
    x[0] = 1

myfun(a)
print(a)

{'0': 3, '1': 5, 0: 1}

## 类 Class

In [41]:
class Employee(object):
    empCount = 0
 
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        Employee.empCount += 1
   
    def displayCount(self):
        print("Total Employee %d" % Employee.empCount)
 
    def displayEmployee(self):
        print("Name : ", self.name,  ", Salary: ", self.salary) 

emp1 = Employee("Zara", 2000)
emp2 = Employee("Manni", 5000)

emp1.displayEmployee()
emp2.displayEmployee()
print("Total Employee %d" % Employee.empCount)

Name :  Zara , Salary:  2000
Name :  Manni , Salary:  5000
Total Employee 2

In [42]:
class Animal(object):
    def __init__(self, name):
        self.name = name
    def greet(self):
        print ('Hello, I am %s.' % self.name)

dog = Animal('dog3')
dog.greet()

Hello, I am dog3.

In [43]:
class Animal(object):
    def __init__(self, name):
        self.name = name
    def greet(self):
        print ('Hello, I am %s.' % self.name)

class Dog(Animal):
    def greet(self):
        print ('WangWang.., I am %s. ' % self.name)

dog3 = Dog('dog3')
dog3.greet()

WangWang.., I am dog3.

In [44]:
class Animal(object):
    def __init__(self, name):
        self.name = name
    def greet(self):
        print ('Hello, I am %s.' % self.name)

class Dog(Animal):
    def greet(self):
        super(Dog, self).greet()
        print ('WangWang...')

dog3 = Dog('dog3')
dog3.greet()

Hello, I am dog3.
WangWang...