# First Python Code

In [1]:
print('Hello World')

Hello World

In [2]:
students_count = 1000
print(students_count)
print(id(students_count))

1000
2940554654480

In [3]:
students_count = students_count + 4
print(students_count)

1004

In [4]:
students_count = "Python Programming"
print(students_count)
print(id(students_count))

Python Programming
2940554795728

In [5]:
print('I'm Jian Zhang')

SyntaxError: invalid syntax (<ipython-input-5-b74f78fdd593>, line 1)

In [6]:
print("I'm Jian Zhang")

I'm Jian Zhang

In [7]:
print('''I'm 
Jian Zhang
'''
)

I'm
Jian Zhang

# Line by line

In [8]:
print('o----')
print(' ||||')
print(5 * 10)
print('*' * 10)

o----
 ||||
50
**********

# Variable

In [9]:
price = 10

In [10]:
print(price)

price = 20

print(id(price))

price = price + 2

print(id(price))

10
140713460050320
140713460050384

In [11]:
rating = 4.9

In [12]:
name = 'Jack'

In [13]:
is_true = True

In [14]:
print(type(rating))

print(type(is_true))

print(type(name))

<class 'float'>
<class 'bool'>
<class 'str'>

In [15]:
students_count = 1000
rating = 4.99
is_published = False
course_name = "Python Programming"
print(type(students_count))
print(type(rating))
print(type(is_published))
print(type(course_name))
print(id(rating))
print(id(students_count ))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
1486810134192
1486810134640

# Patient Example: Name, age

In [15]:
name = input('What is your name? ')
print('Hi ' + name)

What is your name? Guo Yilin
Hi Guo Yilin

In [17]:
name = input('What is your name? ')
age = input('What is your age? ')
print(name + ' is ' + age + ' years old.')

What is your name? Guo Yilin
What is your age? 22
Guo Yilin is 22 years old.

In [18]:
price = 1_000_000

In [19]:
print(price)

1000000

In [20]:
print(type(price))

<class 'int'>

# Formatted String

In [21]:
first_name = "Jian"
last_name = "Zhang"
full_name = first_name + " " + last_name
print(full_name)
full_name_formated = f"{first_name} {last_name}"
print(full_name_formated)

Jian Zhang
Jian Zhang

# Escape Character

In [22]:
course_full_name = "Python Programing with \"Mosh\""
print(course_full_name)
course_full_name = "Python Programing with \'Mosh\'"
print(course_full_name)
course_full_name = "Python Programing with \\Mosh\\"
print(course_full_name)
course_full_name = "Python Programing with \nMosh"
print(course_full_name)

Python Programing with "Mosh"
Python Programing with 'Mosh'
Python Programing with \Mosh\
Python Programing with
Mosh

# String Methods

In [23]:
course_name_python = "  python programming for beginners    "
print(course_name_python.upper())
print(course_name_python.lower())
print(course_name_python.title())
print(course_name_python.find("gram"))
print(course_name_python.replace("p", "P"))
print("pro" in course_name_python)
print("abc" in course_name_python)

  PYTHON PROGRAMMING FOR BEGINNERS
  python programming for beginners
  Python Programming For Beginners
12
  Python Programming for beginners
True
False

# Numbers

In [24]:
x = 3
y = 3.1
z = 3 + 2j  
print(10 + 3)
print(10 - 3)
print(10 * 3)
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(10 ** 3)
x = x + 3
print(x)
y += 3
print(y)
print(z)

13
7
30
3.3333333333333335
3
1
1000
6
6.1
(3+2j)

In [25]:
print(type(z))

<class 'complex'>

In [26]:
# Working with Numbers

In [27]:

import math
print(round(2.9595, 2))  # Function to round numbers
print(abs(-5.4))  # Converts a number to absolute
print(math.ceil(8.2))  # Math function to retunr the ceil of a float number
print(math.floor(4.9))

average = 2.9
print(f"{average:.2f}")

2.96
5.4
9
4
2.90

# Type Conversion

In [28]:
# 09 Type Conversion
x = input("x: ")  # Even if the input is a number it will be read as a string
print(type(x))

y = int(x) + 5
print(f"x: {x} ; y: {y}")

# type converters
# int() converts to an interger

# float() converts to float

# bool() converts to boolean
# Falsy values - values that retunr False
print(bool(""))  # Double quotations returns False
print(bool(0))  # 0 returns False
print(bool(None))
# Other values return True
print(bool(2))
# str() converts to string

x: 2
<class 'str'>
x: 2 ; y: 7
False
False
False
True

# Quiz

In [30]:
# 10 Quiz

# What are the primitive type in python?
# Strings
# Interger number
# Float numbers
# Booleans - True and False

# What will we see in the terminal
fruit = "Apple"
print(fruit[1])
# p

# What will we see in the terminal?
fruit = "Apple"
# when slicing a string the last caracter called is not inclued
print(fruit[1:-1])
# ppl

# Waht is the result?
print(10 % 3)
# 1

# Whats the result?
print(bool("False"))
# True

p
ppl
1
True

# Comparison operators

In [31]:
# 01 Comparison operators

# Use comparison operator to compare values
# < strictly less than
# <= less than or equal
# > strictly greater than
# >= greater than or equal
# == equal
# != not equal
# is object identity
# is not negated object identity

In [32]:
print(3>2)

True

In [33]:
print(3<2)

False

# Conditional Statements

In [34]:
# 02 Conditional Statements

temperature = 25
if temperature > 30:
    print("It's warm")
    print("Drink water")
elif temperature > 20:
    print("It's nice")
else:
    print("It's cold")
print("Done")

It's nice
Done

# Ternary Operator

In [35]:
age1 = 17
if age1 >= 18:
    print("Eligible")
else:
    print("Not eligible")

# Theres is a different cleaner way to write the same code, and achive the same result.
age2 = 20
message = "Eligible" if age2 >= 18 else "Not eligible"
print(message)

Not eligible
Eligible

# Logical Operators

In [36]:
# 04 Logical Operators
# and
# or
# not

income = 2000
good_credit = True

if income > 2500:
    high_income = True
    print("You have a high income!")
else:
    high_income = False
    print("You have a low income")

if high_income and good_credit:
    print("Eligible for loan")
else:
    print("Not eligible for loan")

income = 2000
good_credit = True

if income > 2500:
    high_income = True
    print("You have a high income!")
else:
    high_income = False
    print("You have a low income")

if high_income or good_credit:
    print("Eligible for loan")
else:
    print("Not eligible for loan")

You have a low income
Not eligible for loan
You have a low income
Eligible for loan

In [37]:
income = 2000
good_credit = True
student = False

if income > 2500:
    high_income = True
    print("You have a high income!")
else:
    high_income = False
    print("You have a low income")

if not student:
    print("Eligible for loan")
else:
    print("Not eligible for loan")


income = 5000
good_credit = True
student = True

if income > 2500:
    high_income = True
    print("You have a high income!")
else:
    high_income = False
    print("You have a low income")

if (high_income or good_credit) and not student:
    print("Eligible for loan")
else:
    print("Not eligible for loan")

You have a low income
Eligible for loan
You have a high income!
Not eligible for loan

# Chaining Comparison Operators

In [38]:
# age should be between 18 and 65

age = 22

if age >= 18 and age < 65:
    print("Eligible")

if 18 <= age < 65:
    print("Eligible")

# Line 7 and line 10 are the exact same code

Eligible
Eligible

# For Loops

In [39]:
# 08 For Loops

# They are used to reapet a task
# In this example we are trying to send a message to a use at least 3 time

for number in range(3):  # the range goes from 0, 1, 2
    print("Attempt", number + 1, (number + 1) * ".")

for number in range(1, 4):  # range goes from 1, 2, 3
    print("Attempt", number, number * ".")

for number in range(1, 10, 2):  # range goes from 1, 3, 5, 7, 9
    print("Attempt", number, number * ".")

Attempt 1 .
Attempt 2 ..
Attempt 3 ...
Attempt 1 .
Attempt 2 ..
Attempt 3 ...
Attempt 1 .
Attempt 3 ...
Attempt 5 .....
Attempt 7 .......
Attempt 9 .........

# For..Else

In [40]:
# Lesson how to break a for loop

successful = False
for number in range(3):
    print("Attempt")
    if successful:
        print("Successful")
        break
else:
    print("Attempted 3 times and failed")

Attempt
Attempt
Attempt
Attempted 3 times and failed

# Iterables

In [41]:
# 11 Iterables

for x in "Python":
    print(x)

for x in [1, 2, 3, 4]:
    print(x)

P
y
t
h
o
n
1
2
3
4

# Nested Loops

In [42]:
# 10 Nested Loops
# Loops inside other loops

for x in range(2):
    for y in range(3):
        print(f"({x},{y})")

(0,0)
(0,1)
(0,2)
(1,0)
(1,1)
(1,2)

# While Loops

In [43]:
# 12 While Loops

number = 100
while number > 0:
    print(number)
    number = number // 2

command = ""
while command.lower() != "quit":
    command = input(">")
    print("Echo", command)

100
50
25
12
6
3
1
>10
Echo 10
>3
Echo 3
>quit
Echo quit

# Infinite Loops

In [44]:
# 13 Infinite Loops

while True:
    command = input(">")
    print("Echo", command)
    if command.lower() == "quit":
        break

>2
Echo 2
>quit
Echo quit

In [46]:
# 11 Exercise

# Display the even number ( 2 4 6 8) followed by this message "We have 4 even numbers"
# 2
# 4
# 6
# 8
# We have 4 even numbers

# My anwser
for number_even in range(1, 10):
    if number_even % 2 == 0:
        print(number_even)
    elif number_even > 8:
        print("We have 4 even numbers")
        break

# Mosh anwser
count = 0
for number in range(1, 10):
    if number % 2 == 0:
        count = count + 1
        print(number)
print(f"we have {count} even number")


# In my anwser I did not count the numbers

2
4
6
8
We have 4 even numbers
2
4
6
8
we have 4 even number