### Comments
#### Comments can be used to explain Python code.
#### Comments can be used to make the code more readable.
#### Comments can be used to prevent execution when testing code.

In [1]:
#This is a comment
print("Hello, World!")

Hello, World!

In [2]:
print("Hello, World!") #This is a comment

Hello, World!

In [3]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [4]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

## Syntax

In [5]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block (<ipython-input-5-a314491c53bb>, line 2)

In [27]:
if 5 > 2:
    print("Five is greater than two!") 
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [28]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [29]:
## Type

In [30]:
x = "Hello World"
print(type(x))

<class 'str'>

In [31]:
x = "Hello World"
print(type(x))

<class 'str'>

In [32]:
x = 20.5
print(type(x))

<class 'float'>

In [33]:
x = 20
print(type(x))

<class 'int'>

In [34]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [35]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [36]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [37]:
x = range(6)
print(type(x))

<class 'range'>

In [38]:
# Boolean Values

In [39]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [40]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [41]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [42]:
x = ""
y = None
z = 0


print(bool(x))
print(bool(y))
print(bool(z))

False
False
False

## If ... Else

In [43]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [44]:
a = 33
b = 200
if a <= b: print("a is greater than b")

a is greater than b

In [45]:
a = 2
b = 1
print("A") if a > b else print("B")

A

In [46]:
# Compute the sum of 2,3,4,5,6,7,8,9,10

In [47]:
num = 10
sum = 0
for i in range(2,num+1):
    sum = sum + i 
print(sum)

54

In [48]:
sum = 0
i = 0
while i < 10:
    i = i + 1
    sum = sum + i 
print(sum)

55

## Complex Types
### List
### Tuple
### Dictionary
### Set

In [49]:
### List

In [50]:
# Create a List:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [51]:
# List items are ordered, changeable, and allow duplicate values.
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [52]:
# List Length
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [53]:
# List Items - Data Types
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]

In [67]:
list = [1,212,'s']

In [68]:
# List Type
print(type(list1))
print(type(list2))
print(type(list3))
print(type(list4))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [70]:
del list
## list() Constructor
thislist = list(("apple", 12, "ww")) 
print(thislist)

['apple', 12, 'ww']

In [71]:
# Access Items
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [72]:
# Negative Indexing
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [73]:
# Range of Indexes
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:3])
print(thislist[2])

['cherry']
cherry

In [74]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [75]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:-1])

['cherry', 'orange', 'kiwi', 'melon']

In [76]:
# Range of Negative Indexes
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [77]:
# Check if Item Exists
thislist = ["apple", "banana", "cherry"]
if "appl" in thislist:
    print("Yes, 'apple' is in the fruits list")
else:
    print('Wrong')

Wrong

In [78]:
# Change Item Value
thislist = ["apple", "banana", "cherry"]
thislist[1] = [12,'apple']
print(thislist)

['apple', [12, 'apple'], 'cherry']

In [79]:
# Change a Range of Item Values
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [80]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [81]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', ['blackcurrant', 'watermelon'], 'cherry']

In [82]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1:3])
thislist[1:3] = ["watermelon"]
print(thislist)

['banana', 'cherry']
['apple', 'watermelon']

In [83]:
# Append Items
thislist = ["apple", "banana", "cherry"]
thislist.append(12)
print(thislist)

['apple', 'banana', 'cherry', 12]

In [84]:
# Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, 12)
print(thislist)

['apple', 'banana', 12, 'cherry']

In [85]:
# Extend List
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
# thislist.extend(tropical)
# print(thislist)
tropical.extend(thislist)
print(tropical)
print(thislist)

['mango', 'pineapple', 'papaya', 'apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [86]:
# Add Any Iterable
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [87]:
# Remove Specified Item
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [88]:
# Remove Specified Index
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [89]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [90]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [91]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
del thislist
print(thislist)

['apple', 'banana', 'cherry']

NameError: name 'thislist' is not defined

In [92]:
# Clear the List
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.clear()
print(thislist)

['apple', 'banana', 'cherry']
[]

In [93]:
# Loop Through a List
thislist = [1,2,3,4,5]
sum = 0
for x in thislist:
    sum = sum + x
    print(x)
print(sum)

1
2
3
4
5
15

In [94]:
mylist = []
mylist.append('apple')
print(mylist)

['apple']

In [95]:
# Loop Through the Index Numbers
thislist = ["apple", "banana", "cherry", 4]
for i in range(len(thislist)):
    print(thislist[i])
for x in thislist:
    print(x)

apple
banana
cherry
4
apple
banana
cherry
4

In [96]:
# Using a While Loop
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [97]:
# List Comprehension

In [98]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [99]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "k" in x]
# newlist = [x for x in fruits]
print(newlist)

['kiwi']

In [100]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [101]:
newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [102]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

In [103]:
# Sort List Alphanumerically
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [104]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [105]:
# Sort Descending
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [106]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [107]:
# Customize Sort Function
def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [108]:
# Case Insensitive Sort
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [109]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [110]:
# Copy a List
thislist = ["apple", "banana", "cherry"]
print(thislist)
# mylist = thislist.copy()
# print(mylist)

['apple', 'banana', 'cherry']

In [111]:
mylist = thislist.copy()
print(mylist)
a = list([1])
print(a)

['apple', 'banana', 'cherry']
[1]

In [112]:
mylist[0] = 1
print(mylist)

[1, 'banana', 'cherry']

In [113]:
print(thislist)

['apple', 'banana', 'cherry']

In [114]:
# Make a copy of a list with the list() method
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [115]:
# Join Two Lists
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [116]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [117]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

list1.append(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3, [1, 2, 3]]

### Tuple

In [118]:
# Create a Tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [119]:
# Tuple items are ordered, unchangeable, and allow duplicate values.
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [120]:
# Tuple Length
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [121]:
# Create Tuple With One Item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = "apple"
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [122]:
thistuple = ("apple",)
print(type(thistuple))
print(thistuple)

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))
print(thistuple)

<class 'tuple'>
('apple',)
<class 'str'>
apple

In [123]:
 # Tuple Items - Data Types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [124]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [125]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [126]:
# tuple() Constructor
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [127]:
# Access Tuple Items
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [128]:
# Negative Indexing
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [129]:
# Range of Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [130]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [131]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [132]:
# Range of Negative Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [133]:
# Check if Item Exists
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [134]:
# Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
x = ("apple", "banana", "cherry")
x[0] = 'kiwi'

TypeError: 'tuple' object does not support item assignment

In [135]:
# Change Tuple Values
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [136]:
# Add Items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [137]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [138]:
# Remove Items 
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [139]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
del thistuple
print(thistuple)

('apple', 'banana', 'cherry')

NameError: name 'thistuple' is not defined

In [140]:
# Unpack Tuples

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [141]:
# Using Asterisk
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(type(red))

apple
banana
<class 'list'>

In [142]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [143]:
# Loop Through a Tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [144]:
# Loop Through the Index Numbers
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [145]:
# Using a While Loop
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [146]:
# Join Two Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [147]:
# Multiply Tuples
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')